#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS=hardening=+all reproducible=+fixfilepath
DPKG_EXPORT_BUILDFLAGS=1

include /usr/share/dpkg/buildflags.mk

export CFLAGS+=$(shell dpkg-buildflags --get CFLAGS)
export CFLAGS+=$(shell dpkg-buildflags --get CPPFLAGS)
export CFLAGS+=$(shell dpkg-buildflags --get LDFLAGS)
export LC_ALL=C

%:
	dh $@

override_dh_auto_build:
	$(MAKE) all

override_dh_auto_install:
	dh_auto_install

override_dh_auto_test:
